@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  background: #02030a;

  scroll-behavior: auto;
}

body {
  margin: 0;

  background: #02030a;

  color: #f5f7ff;

  font-family:
    "Inter",
    Arial,
    Helvetica,
    sans-serif;

  overflow-x: hidden;
}

body,
button,
a {
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

::selection {
  background: #00e5ff;
  color: #02030a;
}


/* Hide scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #02030a;
}

::-webkit-scrollbar-thumb {
  background: #087ff0;
}


/* Sections */

section {
  position: relative;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 600px) {

  body {
    overflow-x: hidden;
  }

}